 * {
     box-sizing: border-box;
     color: black;
 }

 .main-header {
    text-align: center;
    background-color: rgb(87, 78, 41);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px; 
    border-radius: 5%;
    background-image:url(../img/mountains-crop2.png);
    max-width: 100%;
    min-height: 265px;
    border: 10px solid rgb(136, 119, 53);
 }

 #header-background {
    background-image:url(../img/mountains-crop2.png);
    max-width: 100%;
    max-height: auto;
    background-repeat: no-repeat;
    border-top: 10px solid rgb(150, 136, 80);
    border-left: 10px solid rgb(136, 119, 53);
    border-right: 10px solid rgb(136, 119, 53);
    border-bottom: 5px solid rgba(45, 49, 22, 0.315); 
 }

 .main-header-container {
    margin-top: 25px;
    margin-bottom: 25px;
 }

 ul {
     list-style-type: none;
     display: table;
     text-align: center;
     margin: 0 auto;
     padding: 9px;
     background-color: rgb(36, 88, 36);
     border-radius: 5%;

 }

li .about-us {
    font-size: 20px;
    text-decoration: none;
    color: burlywood;
   
}

li 
.stories,
.destinations,
.our-vehicle {
    font-size: 18px;
    color: rgb(223, 167, 94);
}

.main-nav-bar a {
    text-decoration: none;
}















@media (min-width: 700px) {
}
