/* * {
    margin: 0px;
    padding: 0px;
}

.logo {
border-radius: 50%;
width: 10em;
height: 10em;
float: left;
margin-left: 25px; 
margin-top: 50px;
}

.header {
    float:left;
    padding-left: 25px;
    padding-top: 62px;
    padding-bottom: 20px;
    padding-right: 100%;
    margin-left: 25px; 
    margin-top: 50px;
    background-color: rgb(24, 139, 101);
} */


